

/* row-child */

.row-child{
    /* background-color: antiquewhite; */
    /* border: 2px solid black; */
    margin: 2% 0 0 0;
    height: 50vh;
}

/* child-1 */

.child-1{
    position: relative;
    right: 2%;
}

/* main-heading */

.main-heading{
    font-size: 2.1rem;    
}

/* small-color */

.small-color{
color: #8f8f8f;    
}

/* special-color */

.special-color{
    color: #ff9e2c;
}

/* data */

.data{
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 0px rgb(216, 212, 212);
    margin-top: 2%;
    width: 40vw;
    height: 12vh;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}

/* data-child-1 */

.data-child-1{
    border-right: 1px solid black;
    position: relative;
    left: 2rem;
}

/* header-cursor */

.header-cursor{
    position: relative;
    right: 2.5rem;
}

/* bi-chevron-down */

.bi-chevron-down{
    color: #ff9e2c;
    position: relative;
    right: 1rem;
}

/* region */

.region{
    font-weight: bold;
    position: relative;
    right: 2rem;
}

/* shamal */

.shamal{

    position: relative;
    right: 2rem;

}

/* calender-icon */

.calender-icon{
    position: relative;
    right: 1.5rem;
}

/* select-date */

.select-date{
    font-weight: bold;
    position: relative;
    right: 1rem;
}


/* date-arrow */

.date-arrow{
    position: relative;
    right: 5%;
}

/* date */

.date{
    width: 7.5rem;
    position: relative;
    right: 1.5rem;
}


/* select-persons */
.select-persons{
    position: relative;
    left: 4rem;
}

/* select-persons-text */

.select-persons-text{
    font-weight: bold;
    position: relative;
    left: 5rem;
}

/* person-arrow-down */

.person-arrow-down{
    position: relative;
    top: 1.5rem;
    right: 1rem;
}

/* person-arrow-up */

.person-arrow-up{
    color: #ff9e2c;
    position: relative;
    top: 1.5rem;
    left: 1rem;
}

/* person-input */

.person-input{
    width: 3vw;
    height: 3vh;
    position: relative;
    top: 1.5rem;
}

/* child-2 */

.child-2{
    border-right: 1px solid black !important;
    position: relative;
    left: 4rem;
}


/* Media Queries */

/* For 1st Child */

@media screen and (max-width:768px) {
    
    .main-heading{
        font-size: 3.5rem;    
        margin-left: 4%;
    }
    
    .small-color{
        position: relative;
        left: 2rem;
        }

        .data{
            margin-top: 4%;
            margin-left: 4%;
            width: 85vw;
        }

        .data-child-1{
            left: 1rem;
        }
        
        .region{
            font-size: 1.1rem;
        }
        
        .shamal{
            top: 2rem;
        }

        .calender-icon{
            right: 4rem;
        }


    .select-date{
    font-size: 1.1rem;
    right: 3rem;
    }

    .date-arrow{
    right: 20%;
    }   


    .date{
    width: 8rem;
    right: 4rem;
    top: 1rem;
    }

    .select-persons{
        left: 3rem;
    }

    .select-persons-text{
        left: 4rem;
        font-size: 1.1rem;
    }

    .person-arrow-down, .person-arrow-up{
        top: 3rem;
        right: 4rem;
    }
        
    .person-arrow-up{
        right: 1rem;
    }

.person-input{
    top: 3rem;
    right: 1.5rem;
    border: none;

}


}



/* spoon-header-img */

.spoon-header-img{
    width: 8%;
    position: relative;
    left: 5rem;
    bottom: 1rem;

}

/* bowl-header-img */

.bowl-header-img{
    width: 12vw;
    position: relative;
    top: 15vh;
    right: 2rem;
}

/* sweets-header-img */

.sweets-header-img{
    width: 18vw;
    position: relative;
    right: 5rem;
    top: 2rem;
}

/* tray-header-img */

.tray-header-img{
    width: 12vw;
    position: relative;
    left: 12rem;
    top: 2rem;
}


/* potatoes-header-img */

.potatoes-header-img{
    width: 8vw;
    position: relative;
    left: 13rem;
    bottom: 5rem;
}

/* banned-header-img */

.banned-header-img{
    position: relative;
    right: 10rem;
    top: 1rem;
    width: 5vw;
}